* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gold: #ff9800;
  --white: #ffffff;
  --black: #202026;
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
